.visually-hidden,
.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
  }
}

.button-and-tooltip {
  position: relative;
}

[role="tooltip"] {
  display: none;
  position: absolute;
}

a:hover > [role="tooltip"],
a:focus > [role="tooltip"],
button:hover + [role="tooltip"],
button:focus + [role="tooltip"] {
  display: block;
}
