[role="tooltip"] {
  display: none;
}

button:hover + [role="tooltip"],
button:focus + [role="tooltip"],
a:hover + [role="tooltip"],
a:focus + [role="tooltip"] {
  display: block;
}

.tooltip-container {
  position: relative;
}

.tooltip-container [role="tooltip"] {
  top: -40px;
  font-size: 0.8rem;
  background: rgba(255, 255, 255, 1);
  color: #000;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  right: 0;
  // right: 50%;
  // top: -100%;
  transform: translateX(25%);
  width: max-content;
}
