$snow: #fffbfe;
$raisin-black: #1a202c;
$viridian-green: #2e989e;

$teal50: #ebf9f9;
$teal100: #c8edef;
$teal200: #a4e1e5;
$teal300: #80d6da;
$teal400: #5dcad0;
$teal500: #39bec6;
$teal600: #2e989e;
$teal700: #227277;
$teal800: #174c4f;
$teal900: #0b2628;
